option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: weatherapp.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: weatherapp.wsgi:application
container_commands:
  00_test_output:
    command: "echo testing....."
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true

